<app-modal (submitClicked)="submit()" title="Tour Log {{ tourLog ? 'editieren' : 'hinzufügen' }}" submitText="{{ tourLog ? 'Speichern' : 'Hinzufügen' }}"
  closeText="Abbrechen" [loading]="loading">

  <div class="row g-3" [formGroup]="formGroup">
    <div class="col-sm-12 mb-2">
        <div class="mb-4">
            <app-form-input [id]="'date'" [label]="'Datum'" [controlName]="'date'" [formGroup]="formGroup"
              [isRequired]="true"></app-form-input>
          </div>
      <div class="mb-4">
        <app-form-input [id]="'totalTime'" [label]="'Gesamtzeit'" [controlName]="'totalTime'" [formGroup]="formGroup"
          [isRequired]="true"></app-form-input>
      </div>
      <div class="mb-4">
        <app-form-input [id]="'totalDistance'" [label]="'Gesamte Entfernung'" [controlName]="'totalDistance'" [formGroup]="formGroup"
          [isRequired]="true"></app-form-input>
      </div>
      <div class="mb-4">
        <app-form-input [id]="'difficulty'" [label]="'Schwierigkeitsgrad'" [controlName]="'difficulty'" [formGroup]="formGroup"
          [isRequired]="true"></app-form-input>
      </div>
      <div class="mb-4">
        <app-form-input [id]="'rating'" [label]="'Bewertung'" [controlName]="'rating'"
          [formGroup]="formGroup" placeholder="Zug,Auto,Bus,..." [isRequired]="true"></app-form-input>
      </div>
      <div>
        <app-text-area-input [id]="'comment'" [label]="'Kommentar'" [controlName]="'comment'"
          [formGroup]="formGroup" [isRequired]="true"></app-text-area-input>
      </div>
    </div>
  </div>
</app-modal>
