<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">TourPlanner</a>
<!--    <app-breadcrumbs></app-breadcrumbs>-->
    <app-mdb-button  *ngIf="currentRoute === '/tours'"
                     text="Report generieren"
                     iconClass="fas fa-file-download" (onClick)="generateReport()"
                     [outlined]="true" [loading]="generateLoading"></app-mdb-button>
  </div>
</nav>

<div class="p-2 p-sm-4 main m-auto">
  <app-breadcrumbs></app-breadcrumbs>
  <router-outlet></router-outlet>
</div>
