<div class="p-3 border rounded">
  <div class="tour-top-row">
    <div class="tour-top-h3">
      <h3>{{tour.name}}:</h3>
      <h3>({{tour.from}}</h3>
      <h3>-</h3>
      <h3>{{tour.to}})</h3>
    </div>
    <div class="tour-top-buttons">
      <button type="button" class="btn btn-info" (click)="edit()" mdbRipple>Bearbeiten</button>
      <button type="button" class="btn btn-danger" (click)="delete()" data-mdb-ripple-init>Löschen</button>
    </div>
  </div>
  <hr>
  <h6>{{tour.description}}</h6>
</div>