<div class="p-3 border rounded mb-4">
  <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-between">
    <a [routerLink]="tour.id + ''">
      <h3 class="text-sm-start text-center">{{tour.name}}: ({{tour.from}} - {{tour.to}})</h3>
    </a>

    <div class="d-flex justify-content-center gap-2">
      <!-- Small Screen -->
      <app-mdb-button color="secondary" (onClick)="edit()" customClasses="d-sm-none" iconClass="fas fa-edit"></app-mdb-button>
      <app-mdb-button color="danger" (onClick)="delete($event)" customClasses="d-sm-none" iconClass="fas fa-trash-alt"></app-mdb-button>

      <!-- Normal Screen -->
      <app-mdb-button text="Bearbeiten" color="secondary" (onClick)="edit()" customClasses="d-none d-sm-flex" iconClass="fas fa-edit"></app-mdb-button>
      <app-mdb-button text="Löschen" color="danger" (onClick)="delete($event)" customClasses="d-none d-sm-flex" iconClass="fas fa-trash-alt"></app-mdb-button>

    </div>
  </div>

  <div class="d-flex gap-2 flex-wrap">
    <span *ngFor="let transportation of getTransportations()" class="badge badge-primary">{{transportation}}</span>
  </div>

  <hr>

  <h6>{{tour.description}}</h6>
</div>