<app-text-search (onChange)="filterTourLogs($event)"></app-text-search>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Datum</th>
      <th scope="col">Kommentar</th>
      <th scope="col">Distanz</th>
      <th scope="col">Dauer</th>
      <th scope="col">Schwierigkeit</th>
      <th scope="col">Bewertung</th>
    </tr>

    </thead>
    <tbody *ngIf="!loading && tourLogs">
    <tr app-tour-log-row *ngFor="let tourLog of filteredTourLogs" [tourLog]="tourLog" [tour]="tour"
        [searchText]="searchText"
        (onDeleted)="onDeleted($event)"
        (onUpdated)="onUpdated($event)"></tr>
    </tbody>
  </table>
</div>

<div *ngIf="tourLogs?.length == 0" class="d-flex justify-content-center">Keine TourLogs vorhanden.</div>
<app-spinner *ngIf="loading"></app-spinner>
