<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"></button>
</div>
<div class="modal-body">

  <ng-content></ng-content>

</div>
<div class="modal-footer">
  <app-mdb-button [text]="closeText"
                  (onClick)="modalRef.close()"
                  [color]="'secondary'"></app-mdb-button>
  <app-mdb-button [text]="submitText"
                  (onClick)="submitClicked.emit()"
                  [loading]="loading"></app-mdb-button>
</div>
