<app-modal (submitClicked)="submit()" title="Tour {{ tour ? 'editieren' : 'hinzufügen' }}"
           submitText="{{ tour ? 'Speichern' : 'Hinzufügen' }}"
           closeText="Abbrechen" [loading]="loading">

  <div class="row g-3" [formGroup]="formGroup">
    <div class="col-sm-12 mb-2">
      <div class="mb-4">
        <app-form-input [id]="'name'" [label]="'Name'" [controlName]="'name'" [formGroup]="formGroup"
                        [isRequired]="true"></app-form-input>
      </div>
      <div class="mb-4">
        <app-form-input [id]="'from'" [label]="'Startpunkt'" [controlName]="'from'" [formGroup]="formGroup"
                        [isRequired]="true"></app-form-input>
      </div>
      <div class="mb-4">
        <app-form-input [id]="'to'" [label]="'Zielort'" [controlName]="'to'" [formGroup]="formGroup"
                        [isRequired]="true"></app-form-input>
      </div>
      <div class="mb-4">
        <app-form-input [id]="'transportType'" [label]="'Transportmittel'" [controlName]="'transportType'"
                        [formGroup]="formGroup" placeholder="Zug,Auto,Bus,..." [isRequired]="true"></app-form-input>
      </div>
      <div>
        <app-text-area-input [id]="'description'" [label]="'Beschreibung'" [controlName]="'description'"
                             [formGroup]="formGroup" [isRequired]="true"></app-text-area-input>
      </div>
    </div>
  </div>
</app-modal>
