<div *ngIf="!(tourService.loading$ | async) || (tourService.data$|async); else spinner">
  <div class="heading" style="margin-bottom: 2em;">
    <app-heading title="{{tour!.name}} : ({{tour!.from}} - {{tour!.to}})"></app-heading>
  </div>

  <app-heading subtitle="Tour Logs" actionIcon="fas fa-plus" actionText="Log Hinzufügen" (actionClicked)="add()"></app-heading>

  <div class="mt-2">
    <app-tour-logs [tour]="tour!" [tourLogAdded]="tourLogAdded"></app-tour-logs>
  </div>
</div>


<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
