<div *ngIf="!(tourService.loading$ | async) || (tourService.data$|async); else spinner">
  <div class="mb-2">
    <app-heading title="{{tour!.name}} : ({{tour!.from}} - {{tour!.to}})"></app-heading>
    <div class="d-flex gap-2 flex-wrap mt-2">
      <span *ngFor="let transportation of TourHelper.getTourTransportations(tour!)" class="badge badge-primary">{{transportation}}</span>
    </div>
    <h6 class="mt-3">{{tour!.description}}</h6>
  </div>

  <hr>

  <app-heading subtitle="Tour Logs" actionIcon="fas fa-plus" actionText="Log Hinzufügen" (actionClicked)="add()"></app-heading>

  <div class="mt-3">
    <app-tour-logs [tour]="tour!" [tourLogAdded]="tourLogAdded"></app-tour-logs>
  </div>
</div>


<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
